@font-face {
    font-family: "kotraBold";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/kotraBold/kotraBold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/kotraBold/kotraBold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/kotraBold/kotraBold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/kotraBold/kotraBold.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/kotraBold/kotraBold.ttf") format("truetype");
    font-display: swap;
}
.kotraBold {
    font-family: "kotraBold";
}